.footer {
  display: flex;
  /* with spaces b/w the contents */
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  height: 65px;
  width: 97%;
  background-color: #282828;
  padding: 20px;
}

.footer__left {
  flex: 0.3;
  display: flex;
  align-items: center;
  color: white;
  width: 300px;
}

.footer__albumLogo {
  height: 60px;
  width: 60px;
  margin-right: 20px;
  object-fit: contain;
}

.footer__center {
  flex: 0.4;
  padding: 0 100px;
  color: white;
  /* displaying them as flex so that we can align them to center vertically */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max space b/w is 300px */
  max-width: 300px;
}

.footer__right {
  flex: 0.3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.footer__green {
  color: #1ed15e;
}

.footer__songInfo > h4 {
  margin-bottom: 5px;
}

.footer__songInfo > p {
  font-size: 12px;
}

.footer__icon:hover,
.footer__green:hover {
  transition: transform 0.2s ease-in;
  transform: scale(1.2) !important;
  /* on hover perform transition of scale with a delay of 0.2s or can say 200ms  */
}

/* go to the gooter right and any material-ui slider color it to green */
.footer__right * .MuiSlider-root {
  color: green;
}
